html,
body,
#__next {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* box-sizing global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #e9ebef;
  padding: 0;
  margin: 0;
}

.app-container {
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .app-container {
    max-width: 100vw;
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }
}
